{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.tsx", "**/*.story.tsx"] }],
    "react/jsx-props-no-spreading": "warn",
    "react/jsx-filename-extension": [0],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],
    "max-len": [2, { "code": 120 }]
  }
}